$border-corners: 3px;

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.page {
    padding: 5% 2%;
    height: 100vh;
    width: 100%;
}

a, a.visited {
    text-decoration: none;
}

.pageLink, .pageLink:visited {
    display: none;
    color: black;
    /*border: 1px solid #ddd;*/
    border-radius: $border-corners;
    background-color: #ddd;
    margin-bottom: .5em;
    width: 100%;
    padding: .5em;
    font-size: 1.2em;
}
.pageLink:hover, .pageLink:active {
    background-color: #CCCCFF;
}

.pageLinkActive {
    display: inline-block;
}

.dialog {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 1em;
    border-radius: $border-corners;
}

.city {
    background: url("../img/backgrounds_city.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.forest {
    background: url("../img/backgrounds_forest.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.beach {
    background: url("../img/backgrounds_beach.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.iconLink {
    display: inline-block;
    // max-width: 50px;
    overflow: auto;
    position: relative;
}

.iconLink-3 {
    width: 32%;
}

.iconLink-4 {
    width: 24%;
}


.icon {
    display: block;
    max-width: 50px;
    height: auto;
    overflow: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: #ccc;
    padding: 10px;
}

#canvas {
    height: 40vh;
    position: absolute;
    bottom: 0;
    left: 50vw;
    // left: calc(50vw - ((5/6) * 40vh));
}


@media (max-width: 1200px) {

    .city {
        background: url("../img/backgrounds_city-1200.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
    .forest {
        background: url("../img/backgrounds_forest-1200.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
    .beach {
        background: url("../img/backgrounds_beach-1200.jpg");
        background-size: cover;
        background-attachment: fixed;
    }

}